<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.shop.login.MemberMapper">
	<insert id="registry" parameterType="com.spring.shop.login.MemberDto">
		insert into member_info (
			mi_id,
			mi_pw,
			mi_name,
			mi_email,
			mi_mobile,
			<if test="mi_tell != null or mi_tell != ''">
				mi_tell,
			</if>
			mi_postcode,
			mi_address,
			mi_detailaddress
		)values(
			#{mi_id},
			#{mi_pw},
			#{mi_name},
			#{mi_email},
			#{mi_mobile},
			<if test="mi_tell != null or mi_tell != ''">
				#{mi_tell},
			</if>
			#{mi_postcode},
			#{mi_address},
			#{mi_detailaddress}
		)
	</insert>
	
	<select id="login" parameterType="com.spring.shop.login.MemberDto" resultType="com.spring.shop.login.LoginDto">
		select 
			mi_id,
			mi_name,
			mi_email,
			mi_mobile,
			mi_tell,
			mi_postcode,
			mi_address,
			mi_detailaddress,
			TO_CHAR(TO_TIMESTAMP(mi_createdat, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') "mi_createdat"
		from member_info 
		where mi_id=#{mi_id} and mi_pw=#{mi_pw}
	</select>
	
	<update id="edit" parameterType="com.spring.shop.login.MemberDto">
		update member_info 
		set mi_name=#{mi_name},
		mi_email=#{mi_email},
		mi_mobile=#{mi_mobile},
		mi_tell=#{mi_tell},
		mi_postcode=#{mi_postcode},
		mi_address=#{mi_address},
		mi_detailaddress=#{mi_detailaddress}
		where mi_id=#{mi_id}
	</update>
	
	<delete id="withdraw" parameterType="com.spring.shop.login.LoginDto">
		delete from member_info 
		where mi_id=#{mi_id}
	</delete>
</mapper>
